@use 'variables' as *;
@mixin font-style($size,$weight:400){
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin font-style($name){
  @if $name == display{
    @include font-style($font-display, 800);
  }@else if $name == Heading-1{
    @include font-style($font-h1, 700);
  }@else if $name == Heading-2{
    @include font-style($font-h2, 600);
  }@else if $name == title{
    @include font-style($font-title,500);
  }@else if $name == body-large{
    @include font-style($font-BL,400);
  }@else if $name == body-medium{
    @include font-style($font-BM,400);
  }@else {
    @include font-style($font-caption,400);
  } 
}
//flex 믹스인
@mixin flex-layout($dir:row,$justify:flex-start,$align:stretch,$gap:1rem)
{display:flex;
  flex-direction:$dir;
  justify-content:$justify;
  align-item:$align;
  gap:$gap
}
@mixin flex-center{
  @include flex-layout(row,center,center);
}

//버튼 컴포넌트 설정
@mixin button-thema($color:$black,$bg:$white,$hover-bg:$gray-500,$hover-text:$black){
  display: inline-block;
  color: $color;
  background-color:$bg;
  border-radius: $radius-md;
  border: none;
  padding: 0.75rem 2rem;
  cursor: pointer;
  transition: 0.3s;
  @include font-style(body-large);
  &:hover{
    background-color: $hover-bg;
    color: $hover-text;
  }
  @include respond{
  border-radius: $radius-xl;
}
}


@mixin button-yellow($color:$black,$bg:$brand-yellow,$hover-bg:$brand-hover,$hover-text:$black){
  display: inline-block;
  color: $color;
  background-color: $bg;
  border: none;
  padding: 0.75rem 2rem;
  transition: 0.3s;
  cursor: pointer;
  &:hover{
    background-color: $hover-bg;
    color: $hover-text;
  }
}

@mixin button-black(){
@include button-thema($white,$black,$gray-700 ,$white);
}
@mixin button-base-yellow(){
@include button-thema($black,$brand-yellow,$brand-hover,$black);
}


//기본 레이아웃을 모바일 우선으로 설정.
@mixin respond{
  @media all and (min-width:768px){
    @content;
  }
}
